<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instagram Login Page</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="wrapper">
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="static/instagram.png" alt="instagram" style="width: 175px;">
			</div>
			<div class="form">
                <form action="login" method="POST">
                    {% csrf_token %}
                    <div class="input_field">
                        <input type="text" placeholder="Phone number, username, or email" class="input" name="username">
                    </div>
                    <div class="input_field">
                        <input type="password" placeholder="Password" class="input" name="password">
                    </div>
                    <small>{{ errorMessage }}</small>
                    <button class="btn" type="submit" href="#" style="color: aliceblue;float:right" >Log In</button>
                </form>
			</div>
		</div>
		
	</div>
	<div class="footer">
		<div class="links">
			<ul>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">SUPPORT</a></li>
				<li><a href="#">PRESS</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">JOBS</a></li>
				<li><a href="#">PRIVACY</a></li>
				<li><a href="#">TERMS</a></li>
				<li><a href="#">DIRECTORY</a></li>
				<li><a href="#">PROFILES</a></li>
				<li><a href="#">HASHTAGS</a></li>
				<li><a href="#">LANGUAGE</a></li>
			</ul>
		</div>
		<div class="copyright">
			© 2019 INSTAGRAM
		</div>
	</div>
</div>

</body>
</html>